.vue-notification-group {
  @apply tw-w-80 !important;

  left: calc(50% - theme("spacing.80") / 2) !important;

  @screen sm {
    @apply tw-w-96 !important;

    left: calc(50% - theme("spacing.96") / 2) !important;
  }

  @screen md {
    @apply tw-w-128 !important;

    left: calc(50% - theme("spacing.128") / 2) !important;
  }
}

.vue-notification-wrapper {
  @apply tw-px-4 tw-py-2 !important;
}
