<script lang="ts" setup>
import { TabGroup } from "@headlessui/vue";
import { useUrlSearchParams } from "@vueuse/core";
import { computed, toRef } from "vue";

const props = withDefaults(
  defineProps<{ name?: string; defaultIndex?: number }>(),
  { name: "tab", defaultIndex: 0 }
);

const urlParams = useUrlSearchParams("hash-params", {
  initialValue: { [props.name]: props.defaultIndex.toString() },
  write: true,
});
const urlParam = toRef(urlParams, props.name);
const selectedIndex = computed(() => +urlParam.value);
</script>

<template>
  <TabGroup
    :default-index="defaultIndex"
    :selected-index="selectedIndex"
    @change="urlParam = $event.toString()"
  >
    <slot />
  </TabGroup>
</template>
