<script lang="ts" setup>
import { TabPanels } from "@headlessui/vue";
</script>

<template>
  <TabPanels as="div" class="tw-bg-translucent-dark-100 tw-p-6 tw-shadow-inner">
    <slot />
  </TabPanels>
</template>
