<script lang="ts" setup>
import { TabList } from "@headlessui/vue";
</script>

<template>
  <TabList
    as="nav"
    class="tw-flex tw-gap-6 tw-rounded-t-xl tw-bg-translucent-dark-100 tw-px-6 tw-pt-4"
  >
    <slot />
  </TabList>
</template>
