<script lang="ts" setup>
import { Tab } from "@headlessui/vue";
</script>

<template>
  <Tab
    as="button"
    class="tab tw-flex-1 tw-rounded-t-xl tw-border-t-2 tw-py-4 tw-px-6 tw-font-heading tw-font-medium"
  >
    <slot />
  </Tab>
</template>

<style lang="postcss" scoped>
.tab {
  &[aria-selected="false"] {
    @apply tw-bg-translucent-light-300 tw-border-transparent hocus:tw-bg-translucent-light-500;
  }

  &[aria-selected="true"] {
    @apply tw-cursor-default tw-border-t-secondary-500 tw-bg-secondary-50;
  }
}
</style>
