<script lang="ts" setup>
import { computed } from "vue";
import { useLocale } from "@/common/locale/locale.store";

const props = defineProps<{
  title?: string;
}>();

const { t } = useLocale();

const title = computed(() => props.title ?? t.value.common.noResults);
</script>

<template>
  <div
    class="rvt-container-sm tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-4 tw-py-10 tw-text-center md:tw-py-16 lg:tw-gap-8 lg:tw-py-24"
  >
    <p class="tw-mb-1 tw-font-heading tw-text-2xl tw-font-bold">
      {{ title }}
    </p>
    <MdRoundSearch class="tw-text-8xl tw-text-error-800 tw-opacity-10" />
    <div><slot /></div>
  </div>
</template>
