<script lang="ts" setup>
import { useLocale } from "@/common/locale/locale.store";
import { useSession } from "@/common/session/session.store";
import { useDisplayName } from "@/common/session/session.util";

const { t } = useLocale();
const { account } = useSession();
const displayName = useDisplayName(account);
</script>

<template>
  <header
    class="tw-border-b tw-border-translucent-dark-200 tw-bg-translucent-light-700 tw-font-heading tw-shadow-lg"
  >
    <nav class="tw-container">
      <div class="tw-flex">
        <RouterLink to="/" class="rvt-menu-item">Home</RouterLink>

        <h1
          class="tw-mx-8 tw-flex tw-grow tw-items-center tw-justify-center tw-self-center tw-text-2xl tw-font-bold tw-text-primary-900 md:tw-py-3"
        >
          <img
            alt="Revently Logo"
            class="logo tw-mr-6 max-md:tw-hidden md:tw-w-10 lg:tw-w-12"
            src="/favicon.svg"
          />
          RVTLY
        </h1>

        <template v-if="account === null">
          <RouterLink to="/login" class="rvt-menu-item">{{
            t.session.login
          }}</RouterLink>
          <RouterLink to="/register" class="rvt-menu-item">{{
            t.session.register
          }}</RouterLink>
        </template>
        <template v-else>
          <RouterLink to="/revents" class="rvt-menu-item">{{
            t.revent.plural
          }}</RouterLink>
          <RouterLink to="/peers" class="rvt-menu-item">{{
            t.peer.plural
          }}</RouterLink>
          <RouterLink to="/logout" class="rvt-menu-item tw-py-2">
            <MdOutlinedLogout />
            <div class="tw-mt-2 tw-font-mono tw-text-xs">{{ displayName }}</div>
          </RouterLink>
        </template>
      </div>
    </nav>
  </header>
</template>
