<script lang="ts" setup>
import RvtSpinnerRaw from "@/common/spinner/RvtSpinnerRaw.vue";

withDefaults(defineProps<{ active: boolean }>(), {
  active: true,
});
</script>

<template>
  <Transition>
    <RvtSpinnerRaw
      v-if="active"
      class="spinner-container tw-flex tw-items-center tw-justify-center"
    />
  </Transition>
</template>

<style lang="postcss" scoped>
.spinner-container {
  &.v-enter-active {
    transition: opacity 500ms ease 100ms;
  }

  &.v-leave-active {
    transition: opacity 100ms ease;
  }

  &.v-enter-from,
  &.v-leave-to {
    opacity: 0;
  }
}
</style>
