<script lang="ts" setup>
import { useLocale } from "@/common/locale/locale.store";

const { t } = useLocale();
</script>

<template>
  <div>
    <div
      class="spinner tw-m-3 tw-inline-flex tw-items-center tw-justify-center"
    >
      <div class="trail tail--cw tail--big tw-text-secondary-500">
        <div class="dot"></div>
      </div>
      <div
        class="trail tail--ccw tail--medium tail--reverse tw-text-primary-500"
      >
        <div class="dot"></div>
      </div>
      <div class="trail tail--cw tail--small tw-text-tertiary-500">
        <div class="dot"></div>
      </div>
      <div class="tw-sr-only">{{ t.common.loading }}</div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.spinner {
  position: relative;
  width: 5em;
  height: 5em;

  & .trail {
    position: absolute;
    width: calc(var(--scale) * 100%);
    height: calc(var(--scale) * 100%);
    border-color: currentcolor;
    border-width: calc(var(--scale) * 0.3em);
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-radius: 50%;
    animation: rvt-spinner-face 1250ms linear infinite;

    & .dot {
      position: absolute;
      top: calc(55% - var(--reverse) * 5%);
      left: calc(55% - var(--reverse) * 5%);
      width: 45%;
      height: 0;
      transform: rotate(calc(-45deg - var(--reverse) * 80deg));
      transform-origin: left;

      &::before {
        position: absolute;
        top: calc(var(--scale) * -0.8em);
        right: calc(var(--scale) * -0.8em);
        width: calc(var(--scale) * 0.8em);
        height: calc(var(--scale) * 0.8em);
        background-color: currentcolor;
        border-radius: 50%;
        box-shadow: 0 0 calc(var(--scale) * 0.3em), 0 0 calc(var(--scale) * 1em),
          0 0 0 0.2em rgb(0 0 0 / 2%);
        transform: rotate(calc(38deg + var(--reverse) * 12deg));
        content: "";
      }
    }

    /* Size */

    &.tail--big {
      --scale: 1;
    }

    &.tail--medium {
      --scale: 0.65;
    }

    &.tail--small {
      --scale: 0.3;
    }

    /* Direction */

    &.tail--cw {
      --reverse: 0;

      border-right-color: transparent;
      border-left-width: 0;
      animation-direction: normal;

      & .dot::before {
        border-top-left-radius: 0;
      }
    }

    &.tail--ccw {
      --reverse: 1;

      border-right-width: 0;
      border-left-color: transparent;
      animation-direction: reverse;

      & .dot::before {
        border-bottom-right-radius: 0;
      }
    }
  }
}

@keyframes rvt-spinner-face {
  to {
    transform: rotate(1turn);
  }
}
</style>
