<script setup lang="ts">
import { RouterView } from "vue-router";
import { useLocale } from "@/common/locale/locale.store";
import AppReady from "@/AppReady";
import HeaderMenu from "@/app/header/HeaderMenu.vue";
import RvtNotification from "@/common/notification/RvtNotification.vue";

const { t } = useLocale();
</script>

<template>
  <div
    class="tw-flex tw-min-h-screen tw-flex-col tw-justify-between tw-overflow-y-scroll"
  >
    <Suspense>
      <AppReady>
        <HeaderMenu />

        <main class="tw-container tw-flex-1 tw-py-12">
          <RouterView />
        </main>

        <Notifications group="reaction" position="top center">
          <template #body="{ item, close }">
            <RvtNotification :item="item" @close="close" />
          </template>
        </Notifications>

        <footer
          class="tw-border-t tw-border-translucent-dark-100 tw-bg-translucent-light-400 tw-py-6 tw-text-sm"
        >
          <div class="tw-container tw-flex tw-justify-between">
            <div>Copyright (C) 2022 Ole Reglitzki</div>
            <div>
              {{ t.layout.sourceCodeAt }}
              <a
                href="https://gitlab.com/xoria/revently"
                target="_blank"
                class="gitlab-link rvt-link tw-ml-1 tw-inline-flex tw-items-center tw-gap-1.5"
              >
                <DeGitlabOriginal
                  class="rvt-button-icon tw-grayscale tw-transition-all"
                />
                <span>GitLab</span>
              </a>
            </div>
          </div>
        </footer>
      </AppReady>
    </Suspense>
  </div>
</template>

<style lang="postcss" scoped>
.gitlab-link {
  &:hover .rvt-button-icon,
  &:focus .rvt-button-icon {
    @apply tw-grayscale-0;
  }
}
</style>
