<script lang="ts" setup>
import type {
  PeerUpsert,
  PeerGroup,
  PeerGroupCreate,
} from "@/app/peer/peer.types";
import FormItem from "@/common/form/FormItem.vue";
import { useFormField } from "@/common/form/form.util";
import RvtForm from "@/common/form/RvtForm.vue";
import { useLocale } from "@/common/locale/locale.store";
import PeerGroupLabel from "@/app/peer/PeerGroupLabel.vue";
import { ref } from "vue";
import PeerGroupCreateForm from "@/app/peer/PeerGroupCreateForm.vue";
import type { ListWithLookup } from "@/util/list";
import { useEventBus } from "@vueuse/core";
import { PEER_GROUP_CREATED_SYM } from "@/app/peer/peer.types";

defineProps<{
  loading: boolean;
  model: PeerUpsert;
  groups: ListWithLookup<PeerGroup>;
}>();
const emit = defineEmits<{
  (key: "cancel"): void;
  (key: "submit"): void;
  (key: "delete"): void;
}>();

const { t } = useLocale();

const groupModel = ref<null | PeerGroupCreate>(null);

const nameField = useFormField<PeerUpsert, "name">(
  "name",
  { required: true },
  { label: (t) => t.form.name }
);

const emailField = useFormField<PeerUpsert, "email">(
  "email",
  { required: true, email: true },
  { label: (t) => t.form.email }
);

const groupsField = useFormField<PeerUpsert, "peerGroups">("peerGroups");

const groupsBus = useEventBus(PEER_GROUP_CREATED_SYM);

function toggleGroup(group: PeerGroup) {
  const { value: groupSet } = groupsField.value;
  if (groupSet.has(group.id)) {
    groupSet.delete(group.id);
  } else {
    groupSet.add(group.id);
  }
}

function createGroupModel() {
  groupModel.value = { name: "" };
}

function groupCreated(group: PeerGroup) {
  groupModel.value = null;
  groupsBus.emit(group);
  groupsField.value.value.add(group.id);
}
</script>

<template>
  <RvtForm :loading="loading" @submit.prevent="emit('submit')">
    <div class="tw-mb-6 tw-flex-wrap tw-gap-4 md:tw-flex">
      <div class="tw-grow">
        <FormItem :field="nameField">
          <input
            class="tw-form-input"
            v-model="nameField.value.value"
            @blur="nameField.handleBlur"
          />
        </FormItem>
      </div>

      <div class="tw-grow">
        <FormItem :field="emailField">
          <input
            class="tw-form-input"
            v-model="emailField.value.value"
            @blur="emailField.handleBlur"
          />
        </FormItem>
      </div>

      <div class="tw-grow-0">
        <div class="tw-flex tw-h-full tw-flex-col tw-justify-center tw-gap-1">
          <button
            v-if="model.id != null"
            type="button"
            class="tw-icon-button-error"
            :title="t.action.delete"
            :aria-label="t.action.delete"
            @click="emit('delete')"
          >
            <MdOutlinedDelete />
          </button>
          <button
            type="reset"
            class="tw-icon-button-warn"
            :title="t.action.cancel"
            :aria-label="t.action.cancel"
            @click="emit('cancel')"
          >
            <MdOutlinedCancel />
          </button>
          <button
            type="submit"
            class="tw-icon-button-primary"
            :title="t.action.save"
            :aria-label="t.action.save"
          >
            <MdOutlinedSave />
          </button>
        </div>
      </div>
    </div>

    <div class="tw-flex tw-gap-2">
      <!-- TODO accessibility -->
      <button
        type="button"
        v-for="group in groups.list"
        :key="group.id"
        @click="toggleGroup(group)"
      >
        <PeerGroupLabel
          :group="group"
          :pale="!groupsField.value.value.has(group.id)"
        />
      </button>

      <PeerGroupCreateForm
        v-if="groupModel !== null"
        :model="groupModel"
        @cancel="groupModel = null"
        @saved="groupCreated"
      />
      <button
        v-else
        type="button"
        class="-tw-mb-px tw-text-lg"
        @click="createGroupModel"
        :aria-label="t.action.createIt(t.peerGroup.title)"
      >
        <MdTwotoneBookmarkAdd />
      </button>
    </div>
  </RvtForm>
</template>
