<script lang="ts" setup>
import type {
  Peer,
  PeerDto,
  PeerGroup,
  PeerUpsert,
  PeerUpsertDto,
} from "@/app/peer/peer.types";
import { useForm } from "vee-validate";
import { useJSONRequestFactory, useRequestFactory } from "@/common/api/request";
import PeerEditFormUi from "@/app/peer/PeerEditFormUi.vue";
import type { ListWithLookup } from "@/util/list";
import { peerFromDto, peerUpsertToDto } from "@/app/peer/peer.types";

const props = defineProps<{
  model: PeerUpsert;
  groups: ListWithLookup<PeerGroup>;
}>();
const emit = defineEmits<{
  (key: "cancel"): void;
  (key: "saved", model: Peer): void;
  (key: "deleted"): void;
}>();

const form = useForm<PeerUpsert>({ initialValues: props.model });
const putReq = useJSONRequestFactory<PeerUpsertDto, PeerDto>("/peer", {
  method: "PUT",
})(peerFromDto, peerUpsertToDto);
const deleteReq = useRequestFactory(() => `/peer/${props.model.id}`, {
  method: "DELETE",
});

const submit = form.handleSubmit(async (body) => {
  emit("saved", await putReq.trigger({ body }));
});

async function deleteIt() {
  await deleteReq.trigger();
  emit("deleted");
}
</script>

<template>
  <PeerEditFormUi
    :model="model"
    :groups="groups"
    :loading="form.isSubmitting.value || deleteReq.state.loading"
    @submit="submit"
    @cancel="emit('cancel')"
    @delete="deleteIt"
  />
</template>
