<script lang="ts" setup>
import type {
  PeerGroup,
  PeerGroupDto,
  PeerGroupCreate,
  PeerGroupCreateDto,
} from "@/app/peer/peer.types";
import { useForm } from "vee-validate";
import PeerGroupEditFormUi from "@/app/peer/PeerGroupCreateFormUi.vue";
import { useJSONRequestFactory } from "@/common/api/request";
import { peerGroupFromDto, peerGroupCreateToDto } from "@/app/peer/peer.types";

const props = defineProps<{
  model: PeerGroupCreate;
}>();
const emit = defineEmits<{
  (key: "cancel"): void;
  (key: "saved", result: PeerGroup): void;
}>();

const form = useForm<PeerGroupCreate>({ initialValues: props.model });

const putReq = useJSONRequestFactory<PeerGroupCreateDto, PeerGroupDto>(
  "/peer-group",
  { method: "PUT" }
)(peerGroupFromDto, peerGroupCreateToDto);

const submit = form.handleSubmit(async (body) => {
  emit("saved", await putReq.trigger({ body }));
});
</script>

<template>
  <PeerGroupEditFormUi
    :model="model"
    :loading="form.isSubmitting.value"
    @submit="submit"
    @cancel="emit('cancel')"
  />
</template>
