<script lang="ts" setup>
import type { PeerGroup } from "@/app/peer/peer.types";

defineProps<{
  group: PeerGroup;
  pale?: boolean;
}>();
</script>

<template>
  <div
    class="tw-flex tw-items-center tw-py-1 tw-pr-2 tw-pl-1 tw-text-sm tw-font-medium tw-transition"
    :class="
      pale
        ? 'tw-bg-pale-200 tw-text-pale-500'
        : 'tw-bg-primary-200 tw-text-primary-900'
    "
  >
    <MdTwotoneBookmark class="tw-mr-1 -tw-mb-px tw-text-lg" />
    {{ group.name }}
  </div>
</template>
