<script lang="ts" setup>
import type { Peer, PeerUpsert, PeerUpdatedEvent } from "@/app/peer/peer.types";
import { useLocale } from "@/common/locale/locale.store";
import { reactive } from "vue";
import PeerEditForm from "@/app/peer/PeerEditForm.vue";
import RvtEmpty from "@/common/empty/RvtEmpty.vue";
import { PeerGroup } from "@/app/peer/peer.types";
import type { ListWithLookup } from "@/util/list";
import PeerGroupLabel from "@/app/peer/PeerGroupLabel.vue";

defineProps<{ peers: Peer[]; groups: ListWithLookup<PeerGroup> }>();
const emit = defineEmits<{
  (key: "updated", data: PeerUpdatedEvent): void;
  (key: "deleted", peer: Peer): void;
}>();

const { t } = useLocale();

const editModels = reactive<Record<string, PeerUpsert>>({});

function edit(peer: Peer) {
  editModels[peer.id] = {
    id: peer.id,
    email: peer.email,
    name: peer.name,
    peerGroups: peer.peerGroups,
  };
}

function cancelEdit(id: Peer["id"]) {
  Reflect.deleteProperty(editModels, id);
}

function updated(newPeer: Peer, oldPeer: Peer) {
  cancelEdit(oldPeer.id);
  emit("updated", { newPeer, oldPeer });
}

function deleted(peer: Peer) {
  cancelEdit(peer.id);
  emit("deleted", peer);
}
</script>

<template>
  <template v-if="peers.length > 0">
    <template v-for="peer in peers" :key="peer.id">
      <div
        class="tw-my-2 tw-bg-translucent-dark-100 tw-px-4 tw-py-2 last:tw-mb-0"
      >
        <template v-if="!editModels[peer.id]">
          <div>
            <button
              class="tw-outline-button-primary tw-button--sm tw-float-right tw-ml-2"
              @click="edit(peer)"
            >
              <LaEdit class="rvt-button-icon" />
              <span>{{ t.action.edit }}</span>
            </button>
            <div class="tw-font-medium">
              <span>{{ peer.name }}</span>
              <span v-if="peer.email" class="tw-ml-4 tw-font-mono tw-text-sm"
                >&lt;{{ peer.email }}&gt;</span
              >
            </div>
          </div>
          <ul
            v-if="peer.peerGroups.size > 0"
            class="tw-mt-4 tw-flex tw-justify-end tw-gap-2"
          >
            <li v-for="id in peer.peerGroups" :key="id">
              <PeerGroupLabel :group="groups.lookup[id]" />
            </li>
          </ul>
        </template>

        <PeerEditForm
          v-else
          :model="editModels[peer.id]"
          :groups="groups"
          @cancel="cancelEdit(peer.id)"
          @saved="updated($event, peer)"
          @deleted="deleted(peer)"
        />
      </div>
    </template>
  </template>
  <RvtEmpty v-else>
    <p>{{ t.peer.notFoundInfo }}</p>
  </RvtEmpty>
</template>
