<script lang="ts" setup>
import { ref } from "vue";
import type { Peer, PeerGroup, PeerUpsert } from "@/app/peer/peer.types";
import { useLocale } from "@/common/locale/locale.store";
import PeerEditForm from "@/app/peer/PeerEditForm.vue";
import type { ListWithLookup } from "@/util/list";

defineProps<{
  groups: ListWithLookup<PeerGroup>;
}>();
const emit = defineEmits<{
  (key: "created", value: Peer): void;
}>();

const { t } = useLocale();

const model = ref<PeerUpsert | null>(null);

function createPeer() {
  model.value = {
    name: "",
    email: "",
    peerGroups: new Set(),
  };
}

function created(peer: Peer) {
  emit("created", peer);
  model.value = null;
}
</script>

<template>
  <div>
    <div
      v-if="model !== null"
      class="tw-my-2 tw-bg-translucent-dark-100 tw-px-4 tw-py-2 last:tw-mb-0"
    >
      <PeerEditForm
        :model="model"
        :groups="groups"
        @cancel="model = null"
        @saved="created"
      ></PeerEditForm>
    </div>
    <button
      v-else
      type="button"
      class="tw-button-success tw-button--lg tw-ml-auto tw-rounded-full"
      @click="createPeer"
    >
      <span>{{ t.action.createIt(t.peer.title) }}</span>
      <MdOutlinedAdd aria-hidden="true" />
    </button>
  </div>
</template>
