<script lang="ts" setup>
import { useJSONRequest } from "@/common/api/request";
import type {
  Peer,
  PeerDto,
  PeerGroup,
  PeerGroupDto,
  PeerUpdatedEvent,
} from "@/app/peer/peer.types";
import { assert } from "ts-essentials";
import PeerCreate from "@/app/peer/PeerCreate.vue";
import PeerList from "@/app/peer/PeerList.vue";
import { without } from "lodash-es";
import { computedWrite } from "@/util/vue";
import { shallowReactive } from "vue";
import RvtSpinnerRaw from "@/common/spinner/RvtSpinnerRaw.vue";
import { withLookup } from "@/util/list";
import {
  PEER_GROUP_CREATED_SYM,
  peerGroupsFromDto,
  peersFromDto,
} from "@/app/peer/peer.types";
import { useEventBus } from "@vueuse/core";

const peersReq = useJSONRequest<void, PeerDto[]>("/peer")({}, peersFromDto);
const peers = computedWrite(() => (peersReq.ready ? peersReq.result : null));

const groupsReq = useJSONRequest<void, PeerGroupDto[]>("/peer-group")(
  {},
  peerGroupsFromDto
);

const groups = computedWrite(() =>
  groupsReq.ready ? withLookup(groupsReq.result) : null
);

useEventBus(PEER_GROUP_CREATED_SYM).on(addGroup);

function updatePeer({ newPeer, oldPeer }: PeerUpdatedEvent) {
  assert(peers.value !== null);
  const idx = peers.value.indexOf(oldPeer);
  assert(idx >= 0);
  peers.value[idx] = newPeer;
}

function addPeer(peer: Peer) {
  assert(peers.value !== null);
  peers.value = shallowReactive([peer, ...peers.value]);
}

function dropPeer(peer: Peer) {
  assert(peers.value !== null);
  peers.value = shallowReactive(without(peers.value, peer));
}

function addGroup(group: PeerGroup) {
  const oldValue = groups.value;
  assert(oldValue !== null);
  groups.value = withLookup([...oldValue.list, group]);
}
</script>

<template>
  <div class="tw-min-h-full">
    <div class="tw-relative">
      <PeerCreate
        v-if="groups != null"
        class="tw-mb-5"
        :groups="groups"
        @created="addPeer"
      />

      <PeerList
        v-if="peers != null && groups != null"
        :peers="peers"
        :groups="groups"
        @updated="updatePeer"
        @deleted="dropPeer"
      />

      <RvtSpinnerRaw
        v-if="peersReq.loading || groupsReq.loading"
        class="tw-flex tw-justify-center"
      />
    </div>
  </div>
</template>
