<script lang="ts" setup>
import type { PeerGroupCreate } from "@/app/peer/peer.types";
import { useFormField } from "@/common/form/form.util";
import RvtForm from "@/common/form/RvtForm.vue";
import { useLocale } from "@/common/locale/locale.store";

defineProps<{ loading: boolean; model: PeerGroupCreate }>();
const emit = defineEmits<{
  (key: "cancel"): void;
  (key: "submit"): void;
}>();

const { t } = useLocale();

const nameField = useFormField<PeerGroupCreate, "name">(
  "name",
  { required: true },
  { label: (t) => t.form.name, controlled: true }
);

function onBlur(evt: Event) {
  nameField.handleBlur(evt);
  if (nameField.value.value === "") {
    emit("cancel");
  } else {
    emit("submit");
  }
}
</script>

<template>
  <RvtForm :loading="loading" @submit.prevent="emit('submit')">
    <div class="tw-flex tw-items-stretch">
      <div
        class="tw-flex tw-items-center tw-bg-primary-200 tw-py-1 tw-pl-1 tw-text-sm tw-font-medium tw-text-primary-900"
      >
        <MdTwotoneBookmark class="-tw-mb-px tw-text-lg" />
      </div>
      <input
        class="tw-form-input tw-border-0 tw-bg-primary-200 tw-py-1 tw-pl-1 tw-text-sm tw-font-medium tw-text-primary-900"
        v-model="nameField.value.value"
        v-focus
        @keydown.exact.esc="emit('cancel')"
        @blur="onBlur"
      />
    </div>

    <button
      type="reset"
      class="tw-sr-only"
      :aria-label="t.action.cancel"
      @click="emit('cancel')"
    />
    <button
      type="submit"
      class="tw-sr-only"
      :aria-label="t.action.createIt(t.peerGroup.title)"
    />
  </RvtForm>
</template>
