<script lang="ts" setup>
import SignInOrUpInitForm from "@/app/session/SignInOrUpInitForm.vue";
import { useLocale } from "@/common/locale/locale.store";
import { useUrlSearchParams } from "@vueuse/core";
import { toRefs } from "vue";
import SignInOrUpVerifyForm from "@/app/session/SignInOrUpVerifyForm.vue";
import { useRouter } from "vue-router";
import { useSession } from "@/common/session/session.store";
import type { AccountSelf } from "@/common/session/session.types";
import { SignInOrUpInitFormType } from "@/app/session/session.types";

const { t } = useLocale();
const router = useRouter();
const session = useSession();

const urlParams = useUrlSearchParams<{ rnd: string | undefined }>(
  "hash-params",
  { initialValue: { rnd: undefined }, write: true }
);
const activeClientRnd = toRefs(urlParams).rnd;

function handleSuccess(account: AccountSelf) {
  session.setState(account);
  router.replace("/");
}
</script>

<template>
  <div class="rvt-container-sm">
    <div v-if="activeClientRnd === undefined">
      <h2 class="rvt-page-heading">{{ t.session.register }}</h2>
      <SignInOrUpInitForm
        :type="SignInOrUpInitFormType.REGISTER"
        @success="activeClientRnd = $event.clientRnd"
      ></SignInOrUpInitForm>
    </div>

    <div v-else>
      <h2 class="rvt-page-heading">{{ t.session.verifyCode.title }}</h2>
      <p class="tw-mb-4">{{ t.session.verifyCode.body }}</p>
      <SignInOrUpVerifyForm
        :type="SignInOrUpInitFormType.REGISTER"
        :client-rnd="activeClientRnd"
        @success="handleSuccess"
      >
        <template #abortAction>
          <button
            type="button"
            class="tw-outline-button-pale tw-button--sm"
            @click="activeClientRnd = undefined"
          >
            <LaUndoSolid class="rvt-button-icon" />
            <span>{{ t.action.navBack }}</span>
          </button>
        </template>
      </SignInOrUpVerifyForm>
    </div>
  </div>
</template>
