<script lang="ts" setup>
import SignInOrUpVerifyFormUI from "@/app/session/SignInOrUpVerifyFormUi.vue";
import { useForm } from "vee-validate";
import { useJSONRequestFactory } from "@/common/api/request";
import type { SignInOrUpVerifyDto } from "@/app/session/session.types";
import type {
  AccountSelf,
  AccountSelfDto,
} from "@/common/session/session.types";
import type { SignInOrUpVerifyModel } from "@/app/session/session.types";
import {
  SignInOrUpInitFormType,
  signInOrUpVerifyToDto,
} from "@/app/session/session.types";
import { accountSelfFromDto } from "@/common/session/session.types";

const URL_BY_TYPE: Record<SignInOrUpInitFormType, string> = {
  [SignInOrUpInitFormType.LOGIN]: "/session/login",
  [SignInOrUpInitFormType.REGISTER]: "/session/register",
};

const props = defineProps<{
  clientRnd: string;
  type: SignInOrUpInitFormType;
}>();
const emit = defineEmits<{ (name: "success", account: AccountSelf): void }>();

const form = useForm<SignInOrUpVerifyModel>();
const req = useJSONRequestFactory<SignInOrUpVerifyDto, AccountSelfDto>(
  () => URL_BY_TYPE[props.type],
  { method: "POST" }
)(accountSelfFromDto, signInOrUpVerifyToDto);

const onSubmit = form.handleSubmit(async (model) => {
  emit(
    "success",
    await req.trigger({ body: { ...model, clientRnd: props.clientRnd } })
  );
});
</script>

<template>
  <SignInOrUpVerifyFormUI
    :loading="form.isSubmitting.value"
    @submit.prevent="onSubmit"
  >
    <template #abortAction>
      <slot name="abortAction" />
    </template>
  </SignInOrUpVerifyFormUI>
</template>
