<script lang="ts" setup>
import SignInOrUpInitFormUI from "@/app/session/SignInOrUpInitFormUi.vue";
import { useForm } from "vee-validate";
import { useJSONRequestFactory } from "@/common/api/request";
import type {
  SignInOrUpInit,
  SignInOrUpInitDto,
  SignInOrUpInitResult,
  SignInOrUpInitResultDto,
} from "@/app/session/session.types";
import {
  SignInOrUpInitFormType,
  signInOrUpInitResultFromDto,
  signInOrUpInitToDto,
} from "@/app/session/session.types";

const URL_BY_TYPE: Record<SignInOrUpInitFormType, string> = {
  [SignInOrUpInitFormType.LOGIN]: "/session/login/init",
  [SignInOrUpInitFormType.REGISTER]: "/session/register/init",
};

const props = defineProps<{ type: SignInOrUpInitFormType }>();
const emit = defineEmits<{
  (name: "success", data: SignInOrUpInitResult): void;
}>();

const form = useForm<SignInOrUpInit>();
const req = useJSONRequestFactory<SignInOrUpInitDto, SignInOrUpInitResultDto>(
  () => URL_BY_TYPE[props.type],
  { method: "POST" }
)(signInOrUpInitResultFromDto, signInOrUpInitToDto);

const onSubmit = form.handleSubmit(async ({ email }) => {
  emit("success", await req.trigger({ body: { email } }));
});
</script>

<template>
  <SignInOrUpInitFormUI
    :loading="form.isSubmitting.value"
    :type="type"
    @submit.prevent="onSubmit"
  ></SignInOrUpInitFormUI>
</template>
