<script lang="ts" setup>
import { useFormField } from "@/common/form/form.util";
import FormItem from "@/common/form/FormItem.vue";
import { useLocale } from "@/common/locale/locale.store";
import type {
  SignInOrUpInitFormType,
  SignInOrUpInit,
} from "@/app/session/session.types";
import RvtForm from "@/common/form/RvtForm.vue";

defineProps<{
  loading: boolean;
  type: SignInOrUpInitFormType;
}>();

const { t } = useLocale();

const emailField = useFormField<SignInOrUpInit, "email">(
  "email",
  { required: true, email: true },
  { label: (t) => t.form.email }
);
</script>

<template>
  <RvtForm :loading="loading">
    <FormItem :field="emailField" class="tw-mb-6">
      <input
        class="tw-form-input"
        v-model="emailField.value.value"
        @blur="emailField.handleBlur"
        type="email"
        name="rvt-email"
        maxlength="1024"
        v-focus
      />
    </FormItem>

    <div class="tw-flex tw-justify-end">
      <button type="submit" class="tw-button-primary">
        <span>{{ t.action[type] }}</span>
        <MdLogin class="rvt-button-icon" />
      </button>
    </div>
  </RvtForm>
</template>
