<script lang="ts" setup>
import VerifyCodeInput from "@/common/form/VerifyCodeInput.vue";
import { useFormField } from "@/common/form/form.util";
import { useLocale } from "@/common/locale/locale.store";
import { ref } from "vue";
import RvtForm from "@/common/form/RvtForm.vue";
import type { SignInOrUpVerifyModel } from "@/app/session/session.types";

defineProps<{ loading: boolean }>();

const { t } = useLocale();
const submitButton = ref<HTMLButtonElement>();

const code = useFormField<SignInOrUpVerifyModel, "code">(
  "code",
  { required: true },
  { initialValue: "", label: (t) => t.form.verifyCode }
);
</script>

<template>
  <RvtForm :loading="loading">
    <VerifyCodeInput
      :name="code.label?.value"
      :fields="6"
      :required="code.meta.value.required"
      auto-focus
      v-model="code.value.value"
      @blur="code.handleBlur"
      @complete="submitButton?.click()"
    ></VerifyCodeInput>

    <slot name="abortAction"></slot>
    <button ref="submitButton" type="submit" class="tw-sr-only">
      {{ t.action.verify }}
    </button>
  </RvtForm>
</template>
