@layer base {
  input[type="number"] {
    /* Firefox */
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      appearance: none;
    }
  }
}
