<script lang="ts" setup>
import { computed } from "vue";
import format from "date-fns/format";

const props = defineProps<{
  value: Date;
  label?: string;
  // either ...
  format?: string;
  // or ...
  noDate?: boolean;
  noTime?: boolean;
  seconds?: boolean;
}>();

const formatString = computed(() => {
  if (props.format != null) {
    return props.format;
  }
  let result = "";
  if (!props.noDate) {
    result += "PP";
  }
  if (!props.noTime) {
    result += "p";
    if (props.seconds) {
      result += "p";
    }
  }
  return result;
});

const formatted = computed(() => {
  return format(props.value, formatString.value);
});
</script>

<template>
  <div class="tw-flex tw-flex-col tw-text-xs tw-text-pale-600">
    <div v-if="label != null" class="tw-font-semibold">
      {{ label }}
    </div>
    <div class="tw-font-mono">
      {{ formatted }}
    </div>
  </div>
</template>
