<script lang="ts" setup>
import { computed } from "vue";
import format from "date-fns/format";

const props = defineProps<{
  modelValue: Date | null;
}>();
const emit = defineEmits<{
  (name: "update:modelValue", value: Date | null): void;
}>();

const formattedDateValue = computed((): string | null => {
  const value = props.modelValue;
  if (value === null) {
    return null;
  }
  return format(value, "yyyy-MM-dd'T'HH:mm:ss");
});

function onInput(evt: InputEvent) {
  const target = evt.target as null | HTMLInputElement;
  const value = target?.value;
  emit("update:modelValue", value ? new Date(value) : null);
}
</script>

<template>
  <input
    type="datetime-local"
    class="tw-form-input tw-font-mono"
    :value="formattedDateValue"
    @input="onInput"
  />
</template>
