<script lang="ts" setup>
import type { FormFieldContext } from "./form.util";
import FormItemUi from "@/common/form/FormItemUi.vue";

defineProps<{ field: FormFieldContext }>();
</script>

<template>
  <FormItemUi
    :error="field.errorMessage.value"
    :label="field.label?.value"
    :required="field.meta.value.required"
  >
    <slot />
  </FormItemUi>
</template>
