<script lang="ts" setup>
defineProps<{
  error?: string;
  label?: string;
  required?: boolean;
}>();

// TODO add Label#for and input#id bindings
</script>

<template>
  <div :class="{ 'has-error': error != null }">
    <label v-if="label || required" class="tw-mb-1 tw-block">
      <span
        v-if="required"
        class="tw-mt-px -tw-mb-px tw-mr-1 tw-inline-block tw-align-top tw-font-medium tw-text-secondary-500"
        >*
      </span>
      <span v-if="label" class="tw-text-sm tw-font-medium tw-text-pale-600">{{
        label
      }}</span>
    </label>
    <slot />
    <Transition>
      <div
        v-if="error"
        class="input-error tw-absolute tw-mt-px tw-text-sm tw-font-medium tw-text-error-500"
      >
        {{ error }}
      </div>
    </Transition>
  </div>
</template>

<style lang="postcss" scoped>
.input-error {
  &.v-enter-active {
    @apply tw-delay-300 tw-ease-in-out tw-duration-500;

    transition-property: opacity, transform;
  }

  &.v-leave-active {
    @apply tw-ease-in-out tw-duration-150;

    transition-property: opacity, transform;
  }

  &.v-enter-from {
    transform: translateY(-0.4em);
    opacity: 0;
  }

  &.v-leave-to {
    transform: translateY(0.2em);
    opacity: 0;
  }
}
</style>
