<script lang="ts" setup>
import type { FormFieldContext } from "./form.util";
import FormItemUi from "@/common/form/FormItemUi.vue";
import { computed } from "vue";

const props = defineProps<{ fields: FormFieldContext[]; label?: string }>();

const errorMessage = computed(
  () =>
    props.fields.find((it) => it.errorMessage.value != null)?.errorMessage.value
);

const required = computed(() =>
  props.fields.some((it) => it.meta.value.required)
);
</script>

<template>
  <FormItemUi :error="errorMessage" :label="label" :required="required">
    <slot />
  </FormItemUi>
</template>
