<script lang="ts" setup>
const props = withDefaults(
  defineProps<{
    modelValue: number | null;
    min?: number;
    max?: number;
    step?: number | null;
    width?: 1 | 2 | 3 | 5 | 10; // in characters
  }>(),
  { step: 1, width: 3 }
);
const emit = defineEmits<{
  (name: "update:modelValue", value: number | null): void;
}>();

function onInput(evt: InputEvent) {
  const target = evt.target as null | HTMLInputElement;
  const value = target?.value;
  emit("update:modelValue", value ? +value : null);
}

function add() {
  let value = props.modelValue;
  if (value === null) {
    if (props.min != null) {
      value = props.min;
    } else if (props.max != null) {
      value = Math.min(0, props.max);
    } else {
      value = 0;
    }
  } else {
    value = Math.min(value + 1, props.max ?? Number.POSITIVE_INFINITY);
  }
  emit("update:modelValue", value);
}

function sub() {
  let value = props.modelValue;
  if (value === null) {
    if (props.max != null) {
      value = props.max;
    } else if (props.min != null) {
      value = Math.max(0, props.min);
    } else {
      value = 0;
    }
  } else {
    value = Math.max(value - 1, props.min ?? Number.NEGATIVE_INFINITY);
  }
  emit("update:modelValue", value);
}
</script>

<template>
  <div class="tw-flex tw-basis-0">
    <button
      type="button"
      class="tw-button-pale"
      tabindex="-1"
      aria-hidden="true"
      :disabled="modelValue != null && modelValue <= min"
      @click="sub"
    >
      <JaMinus />
    </button>
    <input
      type="number"
      class="tw-form-input tw-text-center tw-font-mono"
      :data-charwidth.attr="width"
      :value="modelValue"
      :min="min"
      :max="max"
      :step="step ?? undefined"
      @input="onInput"
    />
    <button
      type="button"
      class="tw-button-pale"
      tabindex="-1"
      aria-hidden="true"
      :disabled="modelValue != null && modelValue >= max"
      @click="add"
    >
      <JaPlus />
    </button>
  </div>
</template>

<style lang="postcss" scoped>
input {
  &[data-charwidth="1"] {
    --charwidth: 1ch;
  }

  &[data-charwidth="2"] {
    --charwidth: 2ch;
  }

  &[data-charwidth="3"] {
    --charwidth: 3ch;
  }

  &[data-charwidth="5"] {
    --charwidth: 5ch;
  }

  &[data-charwidth="10"] {
    --charwidth: 10ch;
  }

  --width: calc(var(--charwidth) + 2 * (0.75rem + 1px));

  flex-basis: var(--width);
  min-width: var(--width);
}
</style>
