<script lang="ts" setup>
import RvtSpinner from "@/common/spinner/RvtSpinner.vue";

defineProps<{ loading: boolean }>();
</script>

<template>
  <form class="tw-relative">
    <RvtSpinner class="rvt-overlay" :active="loading" />
    <fieldset :disabled="loading">
      <slot />
    </fieldset>
  </form>
</template>
