<script lang="ts" setup>
// TODO extract npm package
import { nextTick, ref, toRef, watchEffect } from "vue";
import VerifyCodeInputNative from "@/common/form/VerifyCodeInputNative.vue";
import { useLocale } from "@/common/locale/locale.store";
import { useCountTimes } from "@/util/use-count-times";

const props = defineProps<{
  fields: number;
  modelValue: string;
  name?: string;
  autoFocus?: boolean;
  disabled?: boolean;
  required?: boolean;
}>();

const emit = defineEmits<{
  (name: "complete"): void;
  (name: "update:modelValue", value: string): void;
}>();

const { t } = useLocale();
const fields = toRef(props, "fields");
const inputEls = ref<InstanceType<typeof VerifyCodeInputNative>[]>();
const inputModels = useCountTimes(fields, (idx) =>
  ref(props.modelValue[idx] ?? "")
);

function isAutoFocus(idx: number) {
  if (!props.autoFocus) {
    return false;
  }
  const _len = props.modelValue.length;
  return _len === idx || (_len === props.fields && isLast(idx));
}

function isLast(idx: number) {
  return idx === props.fields - 1;
}

watchEffect(async () => {
  const modelValue = inputModels.value.map((it) => it.value).join("");
  emit("update:modelValue", modelValue);
  if (modelValue.length === fields.value) {
    // ensure all model values have been persisted to the input fields first
    // (necessary for paste event)
    await nextTick();
    emit("complete");
  }
});

function getField(
  index: number
): InstanceType<typeof VerifyCodeInputNative> | null {
  if (index < 0 || index >= inputEls.value!.length) {
    return null;
  }
  return inputEls.value![index];
}

function clearPrevField(index: number) {
  if (index < 0 || index >= inputEls.value!.length) {
    return;
  }
  const model = inputModels.value[index];
  model.value = "";
  inputEls.value![index].focus();
}

function sliceField(startIdx: number) {
  let lastValue = "";
  for (let i = inputModels.value.length - 1; i >= startIdx; i--) {
    const model = inputModels.value[i];
    [lastValue, model.value] = [model.value, lastValue];
  }
}

function fillFields(startIdx: number, value: string) {
  for (
    let i = 0;
    startIdx + i < inputModels.value.length && i < value.length;
    i++
  ) {
    inputModels.value[startIdx + i].value = value[i];
  }
  const idx = Math.min(startIdx + value.length - 1, inputEls.value!.length - 1);
  inputEls.value![idx].focus();
}
</script>

<template>
  <div class="tw-mb-6 tw-flex tw-gap-2">
    <VerifyCodeInputNative
      v-for="(_, index) in inputModels"
      :key="index"
      ref="inputEls"
      class="tw-w-0 tw-flex-1 tw-rounded-lg tw-py-1.5 tw-text-center tw-font-mono tw-text-3xl sm:tw-py-3 sm:tw-text-4xl"
      v-model="inputModels[index].value"
      :auto-focus="isAutoFocus(index)"
      :disabled="disabled"
      :required="required"
      :enterKeyHint="isLast(index) ? t.action.verify : t.action.next"
      @input:next="fillFields(index + 1, $event)"
      @slice="sliceField(index)"
      @delete:prev="clearPrevField(index - 1)"
      @focus:next="getField(index + 1)?.focus()"
      @focus:prev="getField(index - 1)?.focus()"
    ></VerifyCodeInputNative>
  </div>
</template>
