<script lang="ts" setup>
import { ref } from "vue";
import { useVModel } from "@vueuse/core";

const NON_ALPHANUMERIC_REGEX = /[^a-zA-Z0-9]/g;

const props = defineProps<{
  modelValue: string;
  autoFocus?: boolean;
  disabled?: boolean;
  required?: boolean;
  enterKeyHint?: string;
}>();

const emit = defineEmits<{
  (name: "update:modelValue", value: string): void;
  (name: "input:next", value: string): void;
  (name: "focus:next"): void;
  (name: "focus:prev"): void;
  (name: "delete:prev"): void;
  (name: "slice"): void;
}>();

const model = useVModel(props, "modelValue", emit);
const inputEl = ref<HTMLInputElement>();

defineExpose({ focus, select });

function focus() {
  inputEl.value!.focus();
}

function select() {
  const el = inputEl.value!;
  el.select();
}

function onInput() {
  const el = inputEl.value!;
  let value = el.value;
  // remove everything behind input value
  const idx = el.selectionStart ?? 0;
  value = value.slice(0, idx);
  // remove invalid chars
  value = value.replace(NON_ALPHANUMERIC_REGEX, "").toUpperCase();
  model.value = el.value = value[0] ?? "";
  if (value.length > 1) {
    emit("input:next", value.slice(1));
  } else if (value.length > 0) {
    emit("focus:next");
    if (el === window.document.activeElement) {
      select();
    }
  }
}

function onKeyDown(evt: KeyboardEvent) {
  if (evt.altKey || evt.ctrlKey || evt.metaKey) {
    return;
  }
  const el: HTMLInputElement = inputEl.value!;
  switch (evt.key) {
    case "Backspace": {
      if (el.selectionEnd! > 0) {
        break;
      }
      evt.preventDefault();
      emit("delete:prev");
      break;
    }
    case "Delete": {
      emit("slice");
      break;
    }
    case "ArrowLeft":
      evt.preventDefault();
      emit("focus:prev");
      break;
    case "ArrowRight":
      evt.preventDefault();
      emit("focus:next");
      break;
  }
}
</script>

<template>
  <input
    ref="inputEl"
    v-model="model"
    type="text"
    pattern="[a-zA-Z0-9]"
    placeholder="0"
    :enterkeyhint="enterKeyHint"
    v-focus="autoFocus"
    :required="required"
    :disabled="disabled"
    @input="onInput"
    @focus="select"
    @keydown="onKeyDown"
  />
</template>
