<script lang="ts" setup>
import type { ReventUpsertContentItem } from "@/app/revent/revent.types";
import { ref } from "vue";
import { useLocale } from "@/common/locale/locale.store";
import ContentFragmentForm from "@/app/revent/ContentFragmentForm.vue";

defineProps<{ model: ReventUpsertContentItem }>();
const emit = defineEmits<{
  (key: "update", value: ReventUpsertContentItem): void;
  (key: "remove"): void;
}>();

const { t } = useLocale();
const editing = ref(false);
</script>

<template>
  <div v-if="editing">
    <ContentFragmentForm
      :model="model"
      @update="emit('update', $event)"
      @discard="editing = false"
    />
  </div>

  <div v-else>
    <div class="tw-float-right tw-ml-2 tw-flex tw-gap-2">
      <button
        class="tw-outline-button-error tw-button--sm"
        @click="emit('remove')"
      >
        <MdOutlinedDelete class="rvt-button-icon" />
        <span>{{ t.action.delete }}</span>
      </button>
      <button
        class="tw-outline-button-primary tw-button--sm"
        @click="editing = true"
      >
        <LaEdit class="rvt-button-icon" />
        <span>{{ t.action.edit }}</span>
      </button>
    </div>
    <div class="tw-whitespace-pre-wrap" v-text="model.source" />
    <div class="tw-clear-right"></div>
  </div>
</template>
