<script lang="ts" setup>
import type { ReventUpsertContentItem } from "@/app/revent/revent.types";
import { useForm } from "vee-validate";
import { useFormField } from "@/common/form/form.util";
import FormItem from "@/common/form/FormItem.vue";
import { cloneDeep } from "lodash-es";
import { reactive, toRaw } from "vue";

const props = defineProps<{
  model: ReventUpsertContentItem;
}>();
const emit = defineEmits<{
  (key: "update", value: ReventUpsertContentItem): void;
  (key: "discard"): void;
}>();

const resetModel = reactive(cloneDeep(toRaw(props.model)));

const form = useForm<ReventUpsertContentItem>({
  initialValues: props.model,
});

const sourceField = useFormField<ReventUpsertContentItem, "source">("source");

const submit = form.handleSubmit((model) => {
  model.modified = model.modified || sourceField.meta.value.dirty;
  emit("update", model);
  emit("discard");
});

const blur = form.handleSubmit((model) => {
  model.modified = model.modified || sourceField.meta.value.dirty;
  emit("update", model);
});

function discard() {
  emit("update", resetModel);
  emit("discard");
}
</script>

<template>
  <FormItem :field="sourceField">
    <textarea
      type="text"
      class="tw-form-textarea"
      v-model="sourceField.value.value"
      v-focus
      @keydown.exact.esc.prevent="discard"
      @keydown.exact.ctrl.enter="submit"
      @blur="blur"
    />
  </FormItem>
</template>

<style lang="postcss" scoped>
textarea {
  min-height: 10em;
}
</style>
