<script lang="ts" setup>
import { useLocale } from "@/common/locale/locale.store";
import { useFormField } from "@/common/form/form.util";
import FormItem from "@/common/form/FormItem.vue";
import RvtForm from "@/common/form/RvtForm.vue";
import NumberInput from "@/common/form/NumberInput.vue";
import FormItems from "@/common/form/FormItems.vue";
import DateTimeInput from "@/common/form/DateTimeInput.vue";
import { ReventUpsertModel } from "@/app/revent/revent.types";

defineProps<{
  loading: boolean;
  model: ReventUpsertModel;
}>();

const emit = defineEmits<{
  (key: "submit"): void;
  (key: "delete"): void;
}>();

const { t } = useLocale();

const nameField = useFormField<ReventUpsertModel, "name">(
  "name",
  { required: true },
  { label: (t) => t.form.name }
);

const interestMinField = useFormField<ReventUpsertModel, "interestMin">(
  "interestMin",
  { required: true }
);

const interestMaxField = useFormField<ReventUpsertModel, "interestMax">(
  "interestMax",
  { required: true }
);

const dateBeginField = useFormField<ReventUpsertModel, "dateBegin">(
  "dateBegin",
  {},
  { label: (t) => t.revent.beginAt }
);
</script>

<template>
  <RvtForm :loading="loading" @submit.prevent="emit('submit')">
    <div class="tw-mb-6 tw-flex tw-flex-col tw-gap-3">
      <FormItem :field="nameField">
        <input
          class="tw-form-input"
          v-model="nameField.value.value"
          @blur="nameField.handleBlur"
        />
      </FormItem>
      <FormItems
        :fields="[interestMinField, interestMaxField]"
        :label="t.revent.numberOfParticipants"
      >
        <div class="tw-flex tw-items-center">
          <NumberInput
            v-model="interestMinField.value.value"
            :min="0"
            @blur="interestMinField.handleBlur"
          />
          <span class="tw-mx-4"> to </span>
          <NumberInput
            v-model="interestMaxField.value.value"
            :min="1"
            @blur="interestMaxField.handleBlur"
          />
        </div>
      </FormItems>
      <div>
        <FormItem :field="dateBeginField" class="tw-max-w-min">
          <DateTimeInput
            v-model="dateBeginField.value.value"
            @blur="dateBeginField.handleBlur"
          />
        </FormItem>
      </div>
    </div>

    <div class="tw-flex tw-justify-end tw-gap-3">
      <button
        v-if="model.id != null"
        type="button"
        class="tw-button-error"
        @click="emit('delete')"
      >
        <span>{{ t.action.delete }}</span>
        <MdOutlinedDelete />
      </button>
      <button type="submit" class="tw-button-primary">
        <span>{{ t.action.save }}</span>
        <MdOutlinedSave />
      </button>
    </div>
  </RvtForm>
</template>
