<script lang="ts" setup>
import type {
  ReventUpsert,
  ReventUpsertDto,
  ReventFullDto,
  ReventFull,
  ReventUpsertModel,
} from "@/app/revent/revent.types";
import { useForm } from "vee-validate";
import { useJSONRequestFactory, useRequestFactory } from "@/common/api/request";
import {
  reventFullFromDto,
  reventUpsertToDto,
} from "@/app/revent/revent.types";
import ReventEditFormUi from "@/app/revent/ReventEditFormUi.vue";
import { useNotification } from "@kyvg/vue3-notification";
import { useLocale } from "@/common/locale/locale.store";

const props = defineProps<{
  model: ReventUpsertModel;
}>();
const emit = defineEmits<{
  (key: "saved", model: ReventFull): void;
  (key: "deleted"): void;
}>();

const { t } = useLocale();
const { notify } = useNotification();

const form = useForm<ReventUpsertModel>({ initialValues: props.model });
const putReq = useJSONRequestFactory<ReventUpsertDto, ReventFullDto>(
  "/revent",
  { method: "PUT" }
)(reventFullFromDto, reventUpsertToDto);
const deleteReq = useRequestFactory(() => `/revent/${props.model.id}`, {
  method: "DELETE",
});

const submit = form.handleSubmit(async (model) => {
  // we have ensured required props via form validation
  const body = model as ReventUpsert;
  emit("saved", await putReq.trigger({ body }));
});

async function deleteIt() {
  await deleteReq.trigger();
  notify({
    type: "success",
    group: "reaction",
    title: t.value.revent.deletedNotify.title,
  });
  emit("deleted");
}
</script>

<template>
  <ReventEditFormUi
    :model="model"
    :loading="form.isSubmitting.value || deleteReq.state.loading"
    @submit="submit"
    @delete="deleteIt"
  />
</template>
