<script lang="ts" setup>
import { useJSONRequest } from "@/common/api/request";
import type { ReventDto } from "@/app/revent/revent.types";
import { reventsFromDto } from "@/app/revent/revent.types";
import { computed } from "vue";
import ReventList from "@/app/revent/ReventList.vue";
import RvtSpinnerRaw from "@/common/spinner/RvtSpinnerRaw.vue";
import { useLocale } from "@/common/locale/locale.store";

const { t } = useLocale();

const reventsReq = useJSONRequest<void, ReventDto[]>("/revent?kind=personal")(
  {},
  reventsFromDto
);
const revents = computed(() => (reventsReq.ready ? reventsReq.result : null));
</script>

<template>
  <div class="tw-relative">
    <div class="tw-flex tw-justify-center">
      <RouterLink
        class="tw-button-success tw-button--lg tw-mb-10 tw-inline-flex tw-rounded-full"
        to="/revent/new"
      >
        <span>{{ t.action.createIt(t.revent.title) }}</span>
        <MdOutlinedAdd aria-hidden="true" />
      </RouterLink>
    </div>

    <ReventList v-if="revents !== null" :revents="revents" />

    <RvtSpinnerRaw
      v-if="reventsReq.loading"
      class="tw-flex tw-justify-center"
    />
  </div>
</template>
