<script lang="ts" setup>
import { Revent } from "@/app/revent/revent.types";
import DateTime from "@/common/datetime/DateTime.vue";
import { useLocale } from "@/common/locale/locale.store";

defineProps<{ revent: Revent }>();

const { t } = useLocale();
</script>

<template>
  <RouterLink
    class="link-item rvt-container-sm tw-block tw-bg-translucent-light-400 tw-py-4 tw-px-6 hocus:tw-bg-translucent-light-800"
    :to="`/revent/${revent.id}/edit`"
  >
    <div class="tw-flex tw-justify-between">
      <div>
        <div class="tw-mb-3 tw-font-bold">{{ revent.name }}</div>

        <div class="tw-text-sm tw-font-semibold tw-text-pale-600">
          {{ t.revent.participants(revent.interestMin, revent.interestMax) }}
        </div>
      </div>

      <div class="tw-relative tw-text-right">
        <LaEdit
          class="edit-icon tw-absolute -tw-right-5 -tw-top-3 tw-opacity-30"
        />
        <DateTime
          class="tw-mt-5"
          :value="revent.dateCreated"
          :label="t.common.createdAt"
          no-time
        />
        <DateTime :value="revent.dateBegin" :label="t.revent.beginAt" />
      </div>
    </div>
  </RouterLink>
</template>

<style lang="postcss" scoped>
.link-item {
  &:hover,
  &:focus {
    & .edit-icon {
      @apply tw-text-primary-600 tw-opacity-100;
    }
  }
}
</style>
