<script lang="ts" setup>
import type { Revent } from "@/app/revent/revent.types";
import { useLocale } from "@/common/locale/locale.store";
import RvtEmpty from "@/common/empty/RvtEmpty.vue";
import ReventListItem from "@/app/revent/ReventListItem.vue";

defineProps<{ revents: Revent[] }>();

const { t } = useLocale();
</script>

<template>
  <template v-if="revents.length > 0">
    <ReventListItem
      v-for="revent in revents"
      :key="revent.id"
      :revent="revent"
      class="tw-mb-5"
    />
  </template>
  <RvtEmpty v-else>
    <p>{{ t.revent.notFoundInfo }}</p>
  </RvtEmpty>
</template>
