<script lang="ts" setup>
import { computed, watch } from "vue";
import type {
  Revent,
  ReventUpsertModel,
  ReventFullDto,
} from "@/app/revent/revent.types";
import {
  reventFullFromDto,
  reventFullToUpsert,
  ReventVisibility,
} from "@/app/revent/revent.types";
import ReventEditForm from "@/app/revent/ReventEditForm.vue";
import { useRoute, useRouter } from "vue-router";
import { useJSONRequestFactory } from "@/common/api/request";
import { assert } from "ts-essentials";
import RvtSpinner from "@/common/spinner/RvtSpinner.vue";

const router = useRouter();
const route = useRoute();

const getReq = useJSONRequestFactory<never, ReventFullDto>(
  () => `/revent/${route.params.id}?kind=personal`,
  { method: "GET" }
)(reventFullFromDto);

const pathReventId = computed(() => {
  const id = route.params.id as string | string[] | undefined;
  assert(!Array.isArray(id));
  return id;
});

watch(
  pathReventId,
  (id?: string) => {
    if (id === undefined) {
      return;
    }
    getReq.trigger().catch(console.error);
    return () => getReq.cancel({ reset: true });
  },
  { immediate: true }
);

const model = computed((): null | ReventUpsertModel => {
  if (pathReventId.value === undefined) {
    return {
      name: "",
      visibility: ReventVisibility.INVITE_ONLY,
      interestMin: 0,
      interestMax: 10,
      dateArchive: null,
      dateEnd: null,
      dateBegin: null,
      content: [],
    };
  }
  const { state } = getReq;
  return state.ready ? reventFullToUpsert(state.result) : null;
});

function onSaved({ id }: Revent) {
  if (model.value!.id === undefined) {
    router.replace(`/revent/${id}/edit/content`);
  }
  router.push(`/revent/${id}/edit/content`);
}

function onDeleted() {
  router.push("/revents");
}
</script>

<template>
  <div class="tw-relative">
    <RvtSpinner class="rvt-overlay" :active="model === null" />
    <ReventEditForm
      v-if="model !== null"
      :model="model"
      @saved="onSaved"
      @deleted="onDeleted"
    />
  </div>
</template>
