<script lang="ts" setup>
import { useRoute } from "vue-router";
import { useJSONRequest, useJSONRequestFactory } from "@/common/api/request";
import {
  ReventDto,
  reventFromDto,
  reventFullToUpsert,
  ReventUpsertContentItem,
  ReventUpsertDto,
  reventUpsertToDto,
} from "@/app/revent/revent.types";
import RvtSpinner from "@/common/spinner/RvtSpinner.vue";
import { computed, reactive } from "vue";
import { useLocale } from "@/common/locale/locale.store";
import DateTime from "@/common/datetime/DateTime.vue";
import ContentFragmentEdit from "@/app/revent/ContentFragmentEdit.vue";
import { without } from "lodash-es";
import { computedWrite } from "@/util/vue";

const { t } = useLocale();
const route = useRoute();

const getReq = useJSONRequest<void, ReventDto>(
  `/revent/${route.params.id}?kind=personal`
)({ method: "GET" }, reventFromDto);

const putReq = useJSONRequestFactory<ReventUpsertDto, ReventDto>(`/revent`, {
  method: "PUT",
})(reventFromDto, reventUpsertToDto);

const revent = computedWrite(() => getReq.result);
const model = computed(
  () => revent.value && reactive(reventFullToUpsert(revent.value))
);

function addContent() {
  model.value!.content.push({
    source: "",
    modified: true,
    _key: Symbol(),
  });
}

function removeContent(it: ReventUpsertContentItem) {
  model.value!.content = without(model.value!.content, it);
}

async function submit() {
  revent.value = await putReq.trigger({ body: model.value! });
}
</script>

<template>
  <form class="rvt-container-md tw-relative" @submit.prevent="submit">
    <RvtSpinner
      class="rvt-overlay"
      :active="getReq.loading || putReq.state.loading"
    />

    <template v-if="revent != null">
      <div class="tw-mb-10">
        <div class="tw-mb-10 tw-text-center tw-font-heading tw-text-2xl">
          {{ revent.name }}
        </div>
        <div class="tw-flex tw-justify-between tw-gap-4">
          <div class="tw-text-sm tw-font-semibold tw-text-pale-600">
            {{ t.revent.participants(revent.interestMin, revent.interestMax) }}
          </div>
          <div class="tw-text-right">
            <DateTime
              :value="revent.dateCreated"
              :label="t.common.createdAt"
              no-time
            />
            <DateTime :value="revent.dateBegin" :label="t.revent.beginAt" />
          </div>
        </div>
      </div>
    </template>

    <template v-if="model != null">
      <template v-for="(content, index) in model.content" :key="content._key">
        <ContentFragmentEdit
          :model="content"
          @update="model.content[index] = $event"
          @remove="removeContent(content)"
          class="tw-mb-4 tw-bg-translucent-light-400 tw-px-6 tw-py-4"
        />
      </template>

      <div class="tw-flex tw-justify-center">
        <button
          type="button"
          class="tw-icon-button-success"
          @click="addContent"
        >
          <MdSharpPostAdd class="rvt-button-icon" />
        </button>
      </div>

      <div class="tw-mt-6 tw-flex tw-justify-end">
        <button type="submit" class="tw-button-primary">
          {{ t.action.save }}
        </button>
      </div>
    </template>
  </form>
</template>
