<script lang="ts" setup>
import type { NotificationItem } from "@kyvg/vue3-notification/dist/src/types";
import { computed } from "vue";
import { useLocale } from "@/common/locale/locale.store";

const props = defineProps<{
  item: NotificationItem;
}>();
const emit = defineEmits<{
  (key: "close"): void;
}>();

const { t } = useLocale();

const typeWrapperClasses = computed(() => {
  // complete tailwind class names are required to occur within code
  switch (props.item.type) {
    case "error":
      return ["tw-bg-error-50", "tw-text-error-900"];
    case "warn":
      return ["tw-bg-warn-50", "tw-text-warn-900"];
    case "success":
      return ["tw-bg-success-50", "tw-text-success-900"];
    case "info":
      return ["tw-bg-info-50", "tw-text-info-900"];
    default:
      return "";
  }
});
</script>

<template>
  <div
    class="rvt-notification tw-rounded tw-p-2 tw-shadow-md"
    :class="typeWrapperClasses"
  >
    <p class="tw-font-heading tw-font-medium">
      <span>{{ item.title }}</span>
      <button
        type="button"
        class="tw-float-right tw-text-xl"
        @click="emit('close')"
        :aria-label="t.action.close"
      >
        <MdOutlinedClose />
      </button>
    </p>
    <div class="tw-mt-2 tw-text-sm">{{ item.text }}</div>
  </div>
</template>
