@layer components {
  .rvt-container-sm {
    @apply tw-mx-auto tw-w-full;

    max-width: 320px;

    @screen sm {
      max-width: 420px;
    }

    @screen md {
      max-width: 480px;
    }
  }

  .rvt-container-md {
    @apply tw-mx-auto tw-w-full;

    max-width: 500px;

    @screen sm {
      max-width: 640px;
    }
  }
}
