@layer components {
  .tw-form-input,
  .tw-form-textarea,
  .tw-form-select,
  .tw-form-multiselect {
    @apply tw-border-pale-300;
    @apply tw-w-full;
    @apply focus:tw-ring-primary-400 focus:tw-border-primary-200;
  }

  .has-error .tw-form-input:not(:focus),
  .has-error .tw-form-textarea:not(:focus),
  .has-error .tw-form-select:not(:focus),
  .has-error .tw-form-multiselect:not(:focus) {
    @apply tw-ring-1 tw-ring-error-100 tw-border-error-300 tw-text-error-800;
  }

  .tw-form-textarea {
    @apply tw-h-16;

    min-height: theme("spacing.10");
  }

  .tw-form-checkbox {
    /* todo */
  }

  .tw-form-radio {
    /* todo */
  }
}
