@layer components {
  .rvt-menu-item {
    @apply tw-font-medium;
    @apply tw-px-3 md:tw-px-6 tw-py-4;
    @apply tw-flex tw-flex-col tw-justify-center tw-items-center;
    @apply tw-border-b-2 -tw-mb-px tw-border-b-transparent;
    @apply hocus:tw-text-primary-800 hocus:tw-border-b-primary-600;

    &.router-link-active {
      @apply tw-text-secondary-800 tw-border-b-secondary-500;
    }
  }
}
