@layer components {
  .rvt-overlay {
    @apply tw-absolute tw-h-full tw-w-full tw-z-overlay tw-rounded-sm;
    @apply tw-bg-translucent-dark-200;

    box-shadow: 0 0 0.2rem 0.5rem theme("colors.translucent.dark.200");
  }
}
