<script lang="ts" setup>
import { useSession } from "@/common/session/session.store";

const { account } = useSession();
</script>

<template>
  <p v-if="account">Welcome {{ account }}!</p>

  <img alt="Revently Logo" class="logo" src="/favicon.svg" />
  <p>This is going to be an awesome event management page. Stay tuned!</p>
</template>

<style lang="postcss" scoped>
h2 {
  margin: 0 0 1em;
}

.logo {
  display: block;
  width: 128px;
  margin: 0 auto 2em;
}

p {
  text-align: center;
}
</style>
